NET "CLOCK" LOC = C9;
NET "SW_BUS[0]" LOC = T7;
NET "SW_BUS[1]" LOC = M6;
NET "SW_BUS[2]" LOC = N6;
NET "SW_BUS[3]" LOC = R7;
NET "SW_BUS[4]" LOC = M11;
NET "SW_BUS[5]" LOC = R10;
NET "SW_BUS[6]" LOC = P10;
NET "SW_BUS[7]" LOC = N11;

NET "SRAM_A[0]" LOC = G16;
NET "SRAM_A[1]" LOC = B16;
NET "SRAM_A[2]" LOC = C16;
NET "SRAM_A[3]" LOC = C15;
NET "SRAM_A[4]" LOC = D14;
NET "SRAM_A[5]" LOC = D15;
NET "SRAM_A[6]" LOC = D16;
NET "SRAM_A[7]" LOC = E13;
NET "SRAM_A[8]" LOC = E14;
NET "SRAM_A[9]" LOC = E15;
NET "SRAM_A[10]" LOC = E16;
NET "SRAM_A[11]" LOC = F12;
NET "SRAM_A[12]" LOC = F13;
NET "SRAM_A[13]" LOC = F14;
NET "SRAM_A[14]" LOC = F15;
NET "SRAM_A[15]" LOC = G12;
NET "SRAM_A[16]" LOC = G13;
NET "SRAM_A[17]" LOC = G14;

NET "SRAM_D[0]" LOC = A5;
NET "SRAM_D[1]" LOC = A7;
NET "SRAM_D[2]" LOC = A3;
NET "SRAM_D[3]" LOC = D5;
NET "SRAM_D[4]" LOC = B4;
NET "SRAM_D[5]" LOC = A4;
NET "SRAM_D[6]" LOC = C5;
NET "SRAM_D[7]" LOC = B5;
NET "SRAM_D[8]" LOC = E6;
NET "SRAM_D[9]" LOC = D6;
NET "SRAM_D[10]" LOC = C6;
NET "SRAM_D[11]" LOC = B6;
NET "SRAM_D[12]" LOC = E7;
NET "SRAM_D[13]" LOC = D7;
NET "SRAM_D[14]" LOC = C7;
NET "SRAM_D[15]" LOC = B7;

NET "SRAM_NOE" LOC = H13;
NET "SRAM_NWE" LOC = G15;
NET "SRAM_NCE" LOC = B11;
NET "SRAM_NLB" LOC = D10;
NET "SRAM_NUB" LOC = C11;